version: '3.9'
services:
  postgres:
    image: postgres:16
    container_name: a-gata-postgres
    environment:
      POSTGRES_DB: support_mgmt
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: a-gata-redis
    ports:
      - "6379:6379"

volumes:
  pgdata:
